<html>
  <head>
    <title>Testy EE.11 - przegląd pytań</title>
  </head>
  <body>
    <h1>Pytania z czerwca 2019</h1>
    <iframe src="https://docs.google.com/document/d/e/2PACX-1vQgkIeR2QIxQ8doxoVYtjwcXQ-CNcTVtXVVfPXDG7uWjesEXNclLQWOXQd8GOJT9PWwqEhJ-RjsbZnR/pub?embedded=true" width="50%" height="500px"></iframe>
    <h2>Pytania ze stycznia 2020</h2>
    <iframe src="https://docs.google.com/document/d/e/2PACX-1vRuhym3cnyloMHia9TnULdqvIOyysvqI6EqeTtuwbTT96soKXBXSkQJyfpNl0dZKw4NCmbCxw9NgBUn/pub?embedded=true" width="50%" height="500px"></iframe>
    <h3>Pytania z czerwca 2020</h3>
    <iframe src="https://docs.google.com/document/d/e/2PACX-1vTX6jSdAga3W7C34eH7kZsRcHacbQDZAk97fTEOU77EAB1eJ3VRKMc-PbUYM2OomGbArGS31e5e3UWQ/pub?embedded=true" width="50%" height="500px"></iframe>
  </body>
</html>
